#about-page {
    padding: 100px;

    h1 {
        font-size: 3rem;
        font-weight: 700;
        color: black;
        margin-bottom: 2.5rem;
        padding-top: 20px;
        text-align: center;
    }

    p {
        font-size: .9rem;
        line-height: 2;
        margin-bottom: 2rem;
    }

    .content-box {
        background: white;
    }
}