.welcome-jumbo {
    max-width: calc(100vw - 350px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ED4852;
    background: -moz-radial-gradient(center, ellipse cover, #ED4852 0%, #9C1B24 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #ED4852 0%, #9C1B24 100%);
    background: radial-gradient(ellipse at center, #ED4852 0%, #9C1B24 100%);
    overflow: hidden;
    padding-top: 0px !important;
    padding: 100px;

    .status {
        display: inline-block;
        padding: 10px 15px;
        font-size: .8rem;
        font-weight: 700;
        color: white;
        background: black;
        border-radius: 5px;
        align-self: flex-start;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 4rem;
        font-weight: 900;
        align-self: flex-start;
        color: white;
        margin-bottom: 100px;
    }

    .burger-fries {
        width: 100%;
        position: relative;
    }
}